* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/rana-sawalha-364253-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.top_header {
	width: 100%;
	height: 58px;
	background-color: rgba(0, 0, 0, 0.41);
}

.JOURNEY {
	font-family: Verdana;
	color : #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	margin-left: 81px;
	margin-top: 17px;
	margin-bottom: 20px;
	float: left;
}

.JOURNEY:hover {
	color: #3cb878;
}

.nav {
	display: inline-flex;
	float: right;
	margin-right: 75px;
	margin-top: 16px;
	margin-bottom: 18px;
	border-right: 1px solid 
}

.li1, .li2, .li3 {
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	display: inline-block;
	margin-right: 10px;
}

.li1 {
	width: 19px; height: 19px;
    background: url(../img/css_sprites.png) -19px -19px;
}

.li1:hover {
	width: 19px; height: 19px;
    background: url(../img/css_sprites.png) -19px -76px;
}

.li2 {
	width: 28px; height: 20px;
    background: url(../img/css_sprites.png) -19px -133px;
}

.li2:hover {
	width: 28px; height: 20px;
    background: url(../img/css_sprites.png) -19px -249px;
}

.li3 {
	width: 20px; height: 20px;
    background: url(../img/css_sprites.png) -19px -191px;
}

.li3:hover {
	width: 20px; height: 20px;
    background: url(../img/css_sprites.png) -19px -307px;
}

.top_sign {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
}

.log {
	font-family: Verdana;
	color:  #3cb878;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	text-decoration: none;
}

.v_line {
	margin-right: 24px;
	width: 1px;
	height: 19px;
	background-color: gray;
}

.clearfix {
	clear: both;
}

.main_form {
	background-color: white;
	margin: 65px auto;
	width: 444px;
	height: 584px;
	border-radius: 3px;
	padding-top: 30px;
}

.cub {
	background-color: #3cb878;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	margin-left: -60px;
	position: absolute;
}

.container {
	margin-left: 60px;
	margin-right: 60px;
	position: relative;
}

.sign_main {
	font-family: Verdana;
	color:  #434343;
	font-size: 20px;
	font-weight: 400;
	float: left;
	text-decoration: none;
}

.log_main {
	font-family: Verdana;
	color:  #3cb878;
	font-size: 14px;
	font-weight: 400;
	float: right;
	padding-top: 4px;
	text-decoration: none;
}


.fac {
	border-radius: 3px;
	background-color:  #305db8;
	width: 157px;
	height: 46px;
	float: left;
}

.fac1 {
	border-radius: 3px;
	background-color:  #df4a32;
	width: 157px;
	height: 46px;
	float: right;
	text-align: center;
}

.a_fac {
	text-decoration: none;
	display: block;
}

.goo {
	border-radius: 3px;
	background-color:  #df4a32;
	width: 157px;
	height: 46px;
	margin-left: 8px;
	float: right;
}

.main2 {
	margin-top: 15px;
}

.i_f {
	width: 10px;
	height: 20px;
	margin-right: 17px;
	margin-left: 20px;
}

.i_g {
	margin-right: 10px;
}

.facfac {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 1em;
	font-weight: 400;
	margin-left: -6px;
}

.content {
	margin-top: 13px;
	display: inline-flex;
}

.flex_con {
	height: 460px;
	width: 322px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.or {
	margin-top: 30px;
	height: 26px;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
}

.g_l {
	opacity: 0.5;
	width: 135px;
	height: 1px;
	background-color: gray;
}

.or_text {
	opacity: 0.5;
	margin-left: 20px;
	margin-right: 20px;
}

.input_form {
	font-family: Verdana;
	color:  #434343;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
	width: 292px;
	height: 16px;
	padding: 15px;
	border-radius: 3px;
	background-color:  #ffffff;
	outline: none;
	opacity: 0.5;
}

.checkbox {
	width: 322px;
	height: 46px;
	display: flex;
	align-items: center;
}

.checkbox_agree {
	font-family: Verdana;
	color:  #434343;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
}

.check {
	font-family: Verdana;
	color:  #3cb878;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
}

.checkb {
	background-color: #fff;
	color: #3cb878;
}

.create {
	text-decoration: none;
	color: #fff;
	width: 322px;
	height: 46px;
	background-color: #3cb878;
	border-radius: 3px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.create:hover {
	background-color: forestgreen;
}

.text_create {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.313;
}

input:focus {
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
	font-family: Verdana;
	color:  #434343;
	font-size: 0.875em;
	font-weight: 800;
	line-height: 1.5;
	outline: none;
	opacity: 1;
}






























